<!DOCTYPE html>
<html lang="eng">

	<head>	
		<title>{% block title %}{% endblock %}</title>		
		<meta name="description" value="Timely is a..." />
		<meta name="keywords" value="" />
		<meta name="author" value="" />
		<meta charset="utf-8" />

		<link rel="stylesheet" href="/css/base.css"></link>

		{% block head %}	
		{% endblock %}

	</head>
	
	<body>
		
		<div id="top">
			<div id="topContainer">
				<div id="logo">
					<span>Timely</span>
					<div id="thenumber">999.999.999</div>
					<div id="signup">
						<a class="signupButton sigButSt1" href="#">Signup</a>
					</div>
				</div>
				<div id="menu">
					<form name="loginForm" id="loginForm" method="post" action="/user/login"></form>
					<div class="boxMenu">
						{% if login_error %}
							<span>Login error</span>
						{% endif %}
					</div>
					<div class="boxMenu">
						<input type="text" placeholder="Login" id="login" name="login" form="loginForm" />
					</div>
					<div class="boxMenu">
						<input type="password" placeholder="Password" id="password" name="password" form="loginForm" onkeydown="var x = function(ev){ if(ev.keyCode==13) document.forms[0].submit(); }(event);" />
					</div>
					
				</div>
			</div>
		</div>

		<div id="easySteps">
			<div id="step1">
				<h1>1 - Have a good time watching the most <em>intelligent</em> and <em>funniest</em> ads while your unique luck video number is sorted.</h1>
			</div>

			<div id="step2">
				<h1>2 - At the end of the video, check if your <em>luck video number</em> is the same that appears at the top of the site. If it was, you're <em>rich</em> now!</h1>
			</div>

			<div id="step3">
				<h1>3 - But if not, you <em>accumulate points</em> by wacthing, commenting and answer the surveys at the end of the video. You can use your points to <em>play</em> at casino!
			</div>
		</div>

		<div id="all">	
			<div id="content">		
				{% block content %}{% endblock %}
			</div>							
		</div>
		<div id="bottom">
				{% block bottom %}{% endblock %}
		</div>		
	</body>
	
</html>