<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>User Form</title>		
		<meta name="description" value="Timely is a..." />
		<meta name="keywords" value="" />
		<meta name="author" value="" />
		<meta charset="utf-8" />
		
		<link rel="stylesheet" href="/css/base.css"></link>
		

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

		<script type="text/javascript">

			function giveMeValue(s){
				var res = s.match(/\d+/g);
				if(res.length>0){
					return parseInt(res[0]);
				}else{
					return 0;
				}
			}

			function getTotalHeight(el){
				var mtop = parseInt(el.css("margin-top").match(/\d+/g)[0]);
				var mbot = parseInt(el.css("margin-bottom").match(/\d+/g)[0]);

				var ptop = parseInt(el.css("padding-top").match(/\d+/g)[0]);
				var pbot = parseInt(el.css("padding-bottom").match(/\d+/g)[0]);

				return parseInt(el.css("height").match(/\d+/g)[0]) + mtop + mbot + ptop + pbot;
			}

			function getTotalWidth(el){
				var mlef = parseInt(el.css("margin-left").match(/\d+/g)[0]);
				var mrig = parseInt(el.css("margin-right").match(/\d+/g)[0]);

				var plef = parseInt(el.css("padding-left").match(/\d+/g)[0]);
				var prig = parseInt(el.css("padding-right").match(/\d+/g)[0]);

				return parseInt(el.css("width")) + mlef + mrig + plef + prig;
			}

			$(document).ready(function(){
				$(window).unbind('scroll').scroll(function(){
					var scrollWin = $(window).scrollTop();
					var topHeight = getTotalHeight($("#top"));
					var stepsHeight = getTotalHeight($("#easySteps"));
					var middleHeight = getTotalHeight($("#middle"));
					var bottomHeight = getTotalHeight($("#bottom"));

					var allMarginTop = giveMeValue ( $("#all").css("margin-top") );
					var allMarginBottom = giveMeValue ( $("#all").css("margin-bottom") );					

					var headerHeight = topHeight + stepsHeight;
					var newTopPos = topHeight + allMarginTop;

					var t = $(document).height() - (bottomHeight + allMarginBottom + allMarginTop + $(".jackpotRight").height());
					var diff = scrollWin+topHeight-t;

					if( scrollWin < headerHeight  ){
						newTopPos = headerHeight + allMarginTop - scrollWin;
					}else if( diff>=0 ) {
						newTopPos = -(diff-topHeight);
					}
					$(".jackpotRight").css("top",newTopPos + "px");					

				});	
			});

			var control = new Control();
			
			function Control(){
				var videos = [];
				
				this.restartVideo = function(videoId){
					videos[videoId].hideMask();
					videos[videoId].restart();
				}
				
				this.doYouHave = function(videoId){
					if(videos[videoId]){
						return true;
					}
				}
				
				this.addVideo = function(videoId){
					videos[videoId] = new Video(videoId);
				}
				
				this.getVideo = function(videoId){
					return videos[videoId];
				}
				
				this.answerSurvey = function(videoId){
					return;
				}
				
			}
			
			function Video(videoId){
				var _videoId = videoId;
				var _mask = new VideoMask(videoId);				
				var _videoObj = document.getElementById(videoId);
				
				this.renderMask = function(){
					return _mask.render();
				}
				this.hideMask = function(){
					_mask.hide();
				}
				this.restart = function(){
					_videoObj.currentTime = 0;
					_videoObj.play();
				}
				this.ended = function(){
					return _videoObj.ended;
				}
			}
		
			function VideoMask(videoId){
				var _videoId = videoId;
				var _renderObj = null;
				
				this.render = function(){
					if(_renderObj!=null){
						return _renderObj;
					}
									
					
					var vm = document.createElement("div");
					vm.setAttribute("class","videoMask");
					
					var con = document.createElement("div");
					con.setAttribute("class","maskControl");
					
						var al = document.createElement("a");			
						al.setAttribute("href","javascript:control.restartVideo(\"" + _videoId + "\");");
						
							var ml = document.createElement("div");
							ml.setAttribute("class","maskLeft" );
							
								var dl = document.createElement("div");
								dl.setAttribute("class","controlIcon controlIconLeft");
								var labell = document.createElement("label");
								labell.appendChild(document.createTextNode("Restart"));
								
							ml.appendChild(dl);
							ml.appendChild(labell);
						al.appendChild(ml);
						
						var ar = document.createElement("a");			
						ar.setAttribute("href","javascript:control.answerSurvy(\"" + _videoId + "\");");
						
							var mr = document.createElement("div");
							mr.setAttribute("class","maskRight" );
							
								var dr = document.createElement("div");
								dr.setAttribute("class","controlIcon controlIconRight");
								var labelr = document.createElement("label");
								labelr.appendChild(document.createTextNode("Answer Survey"));					
							
							mr.appendChild(dr);
							mr.appendChild(labelr);
						ar.appendChild(mr);								
				
					con.appendChild(al);
					con.appendChild(ar);
					vm.appendChild(con);
					
					_renderObj = vm;
					
					var p = document.getElementById(_videoId).parentNode;
					p.appendChild(_renderObj);					
				}
				
				this.hide = function(){
					document.getElementById(_videoId).parentNode.removeChild(_renderObj);
					_renderObj=null;
				}
			}
		
			
			function videoStart(ev){
				if(!control.doYouHave(ev.target.id)){
					control.addVideo(ev.target.id);
				}
			}
			
			function endVideo(ev){
				control.getVideo(ev.target.id).renderMask();
			}
			
			function load(){
				var v = document.getElementById("meuVideo");
				v.addEventListener("ended",endVideo);
				v.addEventListener("play",videoStart);
			}

		</script>

	</head>
	
	<body>
		
		<div id="top">
			<div id="topContainer">
				<div id="logo">
					<span>Timely</span>
					<div id="thenumber">999.999.999</div>
					<div id="signup">
						<a class="signupButton sigButSt1" href="#">Signup</a>
					</div>
				</div>
				<div id="menu">
					<div class="boxMenu">
						<input type="text" placeholder="Login" id="login" name="login" />
					</div>
					<div class="boxMenu">
						<input type="password" placeholder="Password" id="password" name="password" />
					</div>
				</div>
			</div>
		</div>

		<div id="easySteps">
			<div id="step1">
				<h1>1 - Have a good time watching the most <em>intelligent</em> and <em>funniest</em> ads while your unique luck video number is sorted.</h1>
			</div>

			<div id="step2">
				<h1>2 - At the end of the video, check if your <em>luck video number</em> is the same that appears at the top of the site. If it was, you're <em>rich</em> now!</h1>
			</div>

			<div id="step3">
				<h1>3 - But if not, you <em>accumulate points</em> by wacthing, commenting and answer the surveys at the end of the video. You can use your points to <em>play</em> at casino!
			</div>
		</div>

		<div id="all">	
			<div id="content">		
				<div id="middle">			
					<div class="jackpotRow">	
						<div class="jackpotCenter">
							<div class="jackpotTitle">
								Advertisement Title
							</div>
							<div class="player">
								<video width="640" id="meuVideo" height="360" controls="controls" onEnded="endVideo">
									<source src="videos/mov_bbb.mp4" type="video/mp4">
									<source src="videos/mov_bbb.ogg" type="video/ogg">
								</video>

								<div class="comments">
									<div class="commentRow">
										<span>My comment about the video...</span>
										<a href="">Like</a>
									</div>
									
									<div class="commentRow">
										<span>My comment about the video...</span>
										<a href="">Like</a>
									</div>								
								</div>								
							</div>
														
						</div>
						
					</div>

					<div class="jackpotSepLine"><div></div></div>

					<div class="jackpotRow">	
						<div class="jackpotCenter">
							<div class="jackpotTitle">
								Advertisement Title
							</div>
							<div class="player">
								<video width="640" id="meuVideo" height="360" controls="controls" onEnded="endVideo">
									<source src="videos/mov_bbb.mp4" type="video/mp4">
									<source src="videos/mov_bbb.ogg" type="video/ogg">
								</video>

								<div class="comments">
									<div class="commentRow">
										<span>My comment about the video...</span>
										<a href="">Like</a>
									</div>
									
									<div class="commentRow">
										<span>My comment about the video...</span>
										<a href="">Like</a>
									</div>								
								</div>

							</div>
														
						</div>
						
					</div>

				</div>

				<div class="jackpotRight">
					<a class="signupButton sigButSt1" href="#">Empty Area</a>
					<br /><br />
					<a class="signupButton sigButSt2" href="#">Empty Area</a>
					<br /><br />
					<a class="signupButton sigButSt3" href="#">Empty Area</a>						
				</div>	

			</div>							
		</div>
		<div id="bottom">
		
		</div>		
	</body>
	
</html>